.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 28px;
    border: 3px dashed #bdc1d8;
    box-sizing: border-box;
    min-height: 86vh;
    padding: 10px;
}
