.card {
    margin: 20px;
    width: 330px;
    height: 180px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--color-primary-light);
    border-radius: 10px;
    box-shadow: #5E5DF0 0 5px 10px -5px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    touch-action: manipulation;
    will-change: transform;
}

.card:hover {
    box-shadow: rgba(255, 227, 70, 0.25) 0 8px 13px;
    transform: translateY(-4px);
}

.phrase {
    margin-top: 40px;
    font-weight: 600;
}
