.chose-setting-container {
    width: 400px;
    height: 500px;
    color: var(--color-primary-dark);
}

h2 {
    display: inline;
    margin-left: 10px;
}

.close-button {
    margin-left: 200px;
    margin-top: -4px;
    background-color: white;
    font-size: 24px;
    color: var(--color-primary-blue);
    border: none;
}

.close-button:hover {
    color: var(--color-primary-blue-2);
}

.line {
    width: 384px;
    height: 1px;
    margin: 16px auto;
    background-color: var(--color-primary-medium);
}